<div id="fs-menu">
    <ul>
        <li title="All" id="tab-all"><i class="adv-menu-img icon-uploadalt"></i>&nbsp;All(<span id="typeAll"></span>)</li>
        <li title="Images" id="tab-image"><i class="adv-menu-img icon-camera"></i>&nbsp;Images(<span id="typeImage"></span>)</li>
        <li title="Video" id="tab-video"><i class="adv-menu-img icon-film"></i>&nbsp;Video(<span id="typeVideo"></span>)</li>
        <li title="Music" id="tab-audio"><i class="adv-menu-img icon-music"></i>&nbsp;Music(<span id="typeAudio"></span>)</li>
    </ul>

    <div class="fs-type" id="fs-all" style="padding: 0;">
        <%& '/fs/all/' %>
        <%& '/fs/fs-top/' %>

        <div id="fm_folders"></div>
        <div id="fm_files"></div>

        <%& '/fs/fs-bottom/' %>
    </div>

    <div class="fs-type" id="fs-image" style="padding: 0;">
        <%& '/fs/images/' %>
        <%& '/fs/fs-top/' %>

        <div id="fm_images"></div>

        <%& '/fs/fs-bottom/' %>
    </div>

    <div class="fs-type" id="fs-films" style="padding: 0;">
        <%& '/fs/video/' %>
        <%& '/fs/fs-top/' %>

        <div id="fm_video"></div>

        <%& '/fs/fs-bottom/' %>
    </div>

    <div class="fs-type" id="fs-audio" style="padding: 0;">
        <%& '/fs/audio/' %>
        <%& '/fs/fs-top/' %>

        <div id="fm_audio"></div>

        <%& '/fs/fs-bottom/' %>
    </div>

</div>

<script type="text/x-kendo-template" id="dirTemplate">
    <div class="ddir fm_file_li" title="#: name #" data-id="#: id #" style="cursor: pointer">
        <div class="fm_unsellabel" id="#: name #">
            <div style="float: left; padding-right: 5px;"><img src="img/ftypes/folder.png" style="width: 15px;" alt="[DIR]" /></div>
            <div style="float: left;" class="dname">#: name #</div>

            <div class="dname_li">#: date #</div>
            <div class="ddate_li">[folder]</div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="allTemplate">
    <div title="#: name #" data-type="all" data-id="#: id #" data-ext="#: ext #" class="dfile fm_file_li" style="cursor: pointer">
        <div class="fm_unsellabel" id="#: name #">
            <div style="float: left; padding-right: 5px;"><a class="fm_pre"><img src="#: ico #" style="height: 15px;" alt="[FILE]" /></a></div>
            <div style="float: left;" class="fname">#: name #</div>

            <div class="file_list_date">#: date #</div>
            <div class="file_list_size">#: size #</div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="imageTemplate">
    <div title="#: name #" data-type="image" data-id="#: id #" data-ext="#: ext #" class="dfile fm_file" style="text-align: center; cursor: pointer">
        <div class="fm_unsellabel" id="#: name #">
            <div class="fm_pre swipebox" href="#: href #"><img class="file-img-preview" src="fm/getThumb/?name=#: id #" style="height: 80px;" alt="[FILE]" /></div>
            <div class="fname">#: shortname #</div>
            <div class="fullname" style="display: none">#: name #</div>

            <div class="file_icon_size">#: size #</div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="audioTemplate">
    <div title="#: name #" data-type="audio" data-id="#: id #" data-ext="#: ext #" class="dfile fm_file_li" style="cursor: pointer">
        <div class="fm_unsellabel" id="#: name #">
            <div style="float: left;"><i class="icon-play" style="margin-right: 10px;"></i></div>
            <div style="float: left;" class="fname">#: name #</div>

            <div class="file_list_date">#: date #</div>
            <div class="file_list_size">#: size #</div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="videoTemplate">
    <div title="#: name #" data-type="video" data-id="#: id #" data-ext="#: ext #" class="dfile fm_file" style="text-align: center; cursor: pointer">
        <div class="fm_unsellabel" id="#: name #">
            <a class="fm_pre"><img class="file-img-preview" src="#: ico #" style="height: 80px;" alt="[FILE]" /></a>
            <div class="fname">#: shortname #</div>
            <div class="fullname" style="display: none">#: name #</div>

            <div class="file_icon_size">#: size #</div>
        </div>
    </div>
</script>


<div id="rm-window" style="display: none;">
    <div class="control-group" id="div-crop-object-text">
        Confirm?
    </div>
    <hr />
    <div style="text-align: right;">
        <button id="rm-window-yes" class="k-button">Yes</button>
        <button id="rm-window-no" class="k-button">No</button>
    </div>
</div>

