<div style="overflow: hidden; padding-bottom: 5px; margin: 7px 5px 2px; border-bottom: 1px solid #111;">
    <ul id="ftree-menu"  class="nav nav-pills pull-left" style="margin: 0; padding: 0;">
        <li id="newDirWin" title="new folder" style="cursor: pointer; border: 0; margin: 0 10px;"><i style="font-size: 16px;" class="icon-createfolder" alt="New folder"></i></li>
        <li id="rmDir" title="delete folder" style="cursor: pointer; border: 0; margin: 0 10px;"><i style="font-size: 16px;" class="icon-deletefolder" alt="Delete folder"></i></li>
        <li id="renameDirWin" title="rename folder" style="cursor: pointer; border: 0; margin: 0 10px;"><i style="font-size: 16px;" class="icon-editalt" alt="Rename folder"></i></li>
    </ul>
</div>

<div id="treeview"></div>