<div id="header">
    <ul id="main-menu">
        <li id="home"><a href="<%= application.globals.get('config.baseUrl') %>"><i style="margin-right: 4px; font-size: 14px;" class="icon-legacyfilemanager"></i><span>File Manager</span></a></li>
        <li id="profile"><a href="<%= application.globals.get('config.baseUrl') %>profile/"><i style="margin-right: 4px; font-size: 14px;" class="icon-user"></i><span>Profile</span></a></li>
        <li id="settings"><a href="<%= application.globals.get('config.baseUrl') %>settings/"><i style="margin-right: 4px; font-size: 14px;" class="icon-settingstwo-gearalt"></i><span>Settings</span></a></li>
        <li id="logout"><a href="<%= application.globals.get('config.baseUrl') %>auth/logout/"><i style="margin-right: 4px; font-size: 14px;" class="icon-exit"></i><span>Logout</span></a></li>

        <li id="closeAdvanced" title="close panel" style="float: right; padding: 0 5px;"><i class="icon-arrow-right"></i></li>
        <li class="advanced-panel-show" id="playlist" style="float: right; padding: 0 5px;"><i style="font-size: 12px; margin-right: 5px;" class="icon-list"></i><span>Player/Playlist</span></li>
        <li id="volumeButton" style="float: right; margin-right: 5px;">
            <i style="font-size: 14px;" class="icon-volume-up" title="Volume" /></i>

            <ul>
                <li>
                    <input id="volume" style="width: 30px; margin: 10px 5px; padding: 0;" />
                </li>
            </ul>
        </li>
    </ul>
</div>