html, body {font-family: Verdana, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; height:100%; margin:0; padding:0; overflow:hidden; min-width: 1000px;}

.fm-body{margin: 20px;}
/*
a {color: white;}
a:hover {color: black;}
*/

#pageLoading {width: 100%; height: 100%; z-index: 1000; margin: 0 auto; text-align: center; padding-top: 50px;}

.bar {height: 18px; background: green;}

#treeview .k-sprite {background-image: url("../img/coloricons-sprite.png");}

.rootfolder {background-position: 0 0;}
.folder {background-position: 0 -16px;}

.buf_object {padding: 3px;}

.files-actions li {position: relative; top: 4px;}

#image-actions li, .files-simple-actions li, #back, #saveCrop, #clearCrop, #addTag  {height: 28px; margin-right: 20px; cursor: pointer;}

/* FM */
.fname, .fullname {line-height: 14px;}

.fm_file, .fm_dirs, .fm_dirs_up {float: left; width: 130px; height: 115px; padding: 5px;}

.fm_file_li {text-align: left; height: 24px; overflow: hidden;}
.fm_file_li > div {padding: 4px 4px 0 4px;}

.fm_unsellabel, .fm_sellabel {overflow: hidden;}

#splitter {height: 100%; border: 0;}
.actions {display: none;}
#header {position: static; top:0; width: 100%;height:28px;}
#treeview, #imageview {overflow: auto; padding: 10px 0;}
#treeview .k-group {background-color: transparent; margin: 0;}
#imageview {width: auto; line-height: 24px;}

#main-menu {padding-left: 10px;}

#advanced-panel-left .advanced-panel-div {cursor:pointer;}
#advanced-panel-right {position: fixed; top:28px; bottom: 0;}
.advanced-panel-div {height: 36px; width: 50px;}
.advanced-panel-div > i {position: relative; left: 15px; top: 10px;}

.adv-menu-div {height: 100%; padding: 5px; overflow-x: hidden; overflow-y: auto;}
#adv-menu-upload {margin: 2px; border: 1px dashed #BBB;}

#fs-menu {border: 0;}
#fs-menu a, #fs-menu a:hover {text-decoration: none;}
.adv-menu-img {position: relative; left: 5px; padding-right: 5px;}

#player-controls {padding: 4px;}
#track-main-info {padding: 2px 6px;}
#current-track {width: 210px; max-height: 42px; margin: 2px 10px 5px 0; line-height: 20px; padding: 0 10px; overflow: hidden;}

.sort > span {font-size: 10px; cursor: pointer; padding: 1px 10px;}

.structure, .advanced-height {padding: 0 5px; margin: 0; overflow-x: hidden; overflow-y: auto; border-radius: 0;}
#preview {border-radius: 0;}
#preview-scroll {padding: 0 5px; margin: 0; overflow-x: hidden; overflow-y: auto; border-radius: 0;}

.fs-type {overflow: hidden;}
.fs-footer-menu {font-size: 11px; border-bottom: 0 none; border-left: 0 none; border-right: 0 none;}

.track{min-height: 24px; overflow: hidden; cursor: pointer;}
/*.track:hover{background-color: #777;}*/
.track-title {float: left; padding-top: 4px;}
.track-duration {float: right;}

.file_icon_size {color: #777;}
.dname_li, .file_list_date {float: right; color: #AAA; text-align: right; width: 140px;}
.ddate_li, .file_list_size {float: right; padding-right: 5px; color: #AAA; text-align: right; width: 80px;}

.fm_ajax-loader {display: none; position:fixed; height: 100%; width: 100%; background: url("../img/ajax-loader.gif") 40% 40% no-repeat;}

.image-crop, .image-tag, .tagAll, .cropAll {margin: 2px 4px; font-size: 10px;}
.image-crop, .tagAll, .cropAll {cursor: pointer;}

#image-comment-form {overflow: hidden; margin: 10px 0;}
#image-comment-editor {width:740px; height:200px}
#image-comment-save {margin: 5px 0;}

#preview-div-img {margin-top: 10px; text-align: center;}
#image-meta > div {margin-left: 10px;margin-bottom: 10px;}

.bufferFile {margin: 5px 0; overflow: hidden;}

#playerButtons div {cursor: pointer;}

.bufferFile .ico {float: left; height: 15px; padding: 3px 4px 0 0;}
.bufferFile .left {float: left; padding-top: 3px; width: 100px; overflow: hidden;}
.bufferFile .right {float: right; overflow: hidden;}

.k-filename {width: 150px;}

#player-footer {position: fixed; bottom: 0; width: 218px;}
/*#left-footer {position: fixed; bottom: 0; width: 100%;}*/

.structure-img-fs {overflow-y: auto;}

/* word-wrap */
.name, .track-title, #current-track, .bufferFile .left, .uploader-long-name, .imageCommentText {
    white-space: pre-wrap;     /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, начиная с 1999 года */
    white-space: -pre-wrap;   /* Opera 4-6 */
    white-space: -o-pre-wrap;       /* Opera 7 */
    word-wrap: break-word;     /* Internet Explorer 5.5+ */
}