<div class="files-simple-actions" style="overflow: hidden">
    <ul class="files-actions nav nav-pills pull-left" style="margin: 0 0 0 10px; padding-top: 4px;">
        <li class="newDirWin"><i style="font-size: 12px;" class="icon-createfolder"></i>&nbsp;<span>New Folder</span></li>
        <li class="remove"><i style="font-size: 12px;" class="icon-deletefile"></i>&nbsp;<span>Delete</span></li>
        <li class="copy"><i style="font-size: 12px;" class="icon-copy"></i>&nbsp;<span>Copy</span></li>
        <li class="past"><i style="font-size: 12px;" class="icon-clipboard-paste"></i>&nbsp;<span>Past</span></li>
    </ul>

    <ul class="files-adv-actions nav nav-pills pull-right" style="margin: 6px 6px 0 0;">
        <li class="advanced-panel-show upload"><i style="font-size: 12px;" class="icon-uploadalt"></i>&nbsp;<span>Upload</span></li>
        <li class="advanced-panel-show buffer"><i style="font-size: 12px;" class="icon-clipboard-paste"></i>&nbsp;<span>Buffer[<span class="bufferCount">0</span>]</span></li>
    </ul>
</div>