
<!-- END FILES -->
</div>


<ul class="fs-footer-menu" style="position: relative; bottom: 0;">
    <li>
        <b>Size:&nbsp; 10Mb</b></span>
        <ul>
            <li style="padding: 4px;">
                Quota: 358Mb from <span class="fm_total">1500Mb</span>
            </li>
        </ul>
    </li>
    <li style="padding: 0 5px;">Selected: 0 from 45 files</li>

    <li class="fm_sel"><i class="icon-check" style="margin-right: 5px;"></i><span>Select all</span></li>
    <li class="fm_unsel"><i class="icon-undo" style="margin-right: 5px;"></i><span>Unselect all</span></li>

    <!--
    <li style="float: right;">
        <span style="position: relative; top: 2px;">Sort:</span>
        <div class="files-adv-sort"></div>
    -->

    <li style="float: right;" title="sort by date"><i style="margin-right: 5px;" class="icon-notesdate"></i><span>&nbsp;</span></li>
    <li style="float: right;" title="sort by size"><i style="margin-right: 5px;" class="icon-sortbysizeascending"></i><span>&nbsp;</span></li>
    <li style="float: right;" title="sort by name"><i style="margin-right: 5px;" class="icon-sortbynameascending-atoz"></i><span>&nbsp;</span></li>

    <!--
    </li>
    -->
</ul>