<ul class="fs-footer-menu" style="position: relative; bottom: 0;">
    <li>
        <b>Size: <span class="sizeFiles">0</span> from <span class="numFiles">0</span> files</b>
    </li>

    <li class="fm_sel"><i class="icon-check" style="margin-right: 5px;"></i><span>Select all</span></li>
    <li class="fm_unsel"><i class="icon-undo" style="margin-right: 5px;"></i><span>Unselect all</span></li>

    <!--
    <li style="float: right;">
        <span style="position: relative; top: 2px;">Sort:</span>
        <div class="files-adv-sort"></div>
    -->

    <!--
    <li class="sort_by_date" style="float: right;" title="sort by date"><i style="margin-right: 5px;" class="icon-notesdate"></i><span>&nbsp;</span></li>
    <li class="sort_by_size" style="float: right;" title="sort by size"><i style="margin-right: 5px;" class="icon-sortbysizeascending"></i><span>&nbsp;</span></li>
    <li class="sort_by_name" style="float: right;" title="sort by name"><i style="margin-right: 5px;" class="icon-sortbynameascending-atoz"></i><span>&nbsp;</span></li>
    -->

    <!--
    </li>
    -->
</ul>